alembic==1.18.4
asyncpg==0.31.0
fastapi==0.129.0
greenlet==3.3.2
httpx==0.26.0
pydantic==2.12.5
python-dotenv==1.2.1
pydantic-settings==2.13.0
SQLAlchemy==2.0.46
uvicorn==0.41.0
langchain==0.1.0
langchain-core==0.1.10
langchain-community==0.0.10
langchain-groq==0.0.1